.card{
    border-left: blue 4px solid;
}

.App{
    min-height: 1000px;
    height: 100%;
}

.btn-bg{
    width: 22.5px;
    height: 22.5px;
}


body{
    background-color: blueviolet;
}

.bg-1{
    background: linear-gradient(90deg,#4dc9e6,#210cac);
}

.bg-2{
    background: #a9c9ff;
    background-image: linear-gradient(180deg,#a9c9ff,#ffbbec);
}

.bg-3{
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg,#3c3d3e,#ffbbec);
}

.bg-4{
    background-image: linear-gradient(to bottom right,#ff512f,#dd2476);
}

.bg-5{
    background-image: linear-gradient(to bottom right,#fd8451,#ffbd6f);
}

.bg-6{
    background-color: #85ffbd;
    background-image: linear-gradient(45deg,#85ffbd,#fffb7d);
}